@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'IM Fell DW Pica', serif;
}